/* Global Styles */
html { 
    background-image: url('https://www.pexels.com/photo/1261728/download/');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fafafa;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  #todo-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(18, 57, 187, 0.1);
    background-color: #fafafa;

  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 10px 30px;
  }
  
  
  .completed {
    text-decoration: line-through;
    color: #00f83a;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  .task-name { 
    margin-right: 5px;
  }
  .priority { 
    margin-left: 10px;
    padding-right: 10px;
  }
  .low-priority {
    background-color: #d1fdcc;
  }
  
  .medium-priority {
    background-color: #facd05;
  }
  
  .high-priority {
    background-color: #f50808;
  }
  
  .task-item > button.remove-button {
    margin-left: 10px; /* Adjust this value to add more space */
    padding: 4px 8px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
#clockTimer {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 20px;
  }
  button.start-button {
    border-radius: 4px;
  }
  
  button.remove-button:hover {
    background-color: #d32f2f;
  }
  h2 { 
    color: white; 
  }
  .timer {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border-radius: 4px;
  }
#timer-container { 
  text-align: center;
  color:rgb(255, 255, 255)
}
  
  